In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('../Top_10_companies_ratio.csv')
df.head()

,Unnamed: 0,EMPLOYER_ACCEPTANCE_HA,EMPLOYER_ACCEPTANCE_LA,EMPLOYER_ACCEPTANCE_MA,EMPLOYER_ACCEPTANCE_VHA,EMPLOYER_ACCEPTANCE_VLA,JOB_ACCEPTANCE_HA,JOB_ACCEPTANCE_LA,JOB_ACCEPTANCE_MA,JOB_ACCEPTANCE_VHA,JOB_ACCEPTANCE_VLA,SOC_ACCEPTANCE_HA,SOC_ACCEPTANCE_LA,SOC_ACCEPTANCE_MA,SOC_ACCEPTANCE_VHA,SOC_ACCEPTANCE_VLA
0,GOOGLE INC.,16473.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IBM CORPORATION,13276.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,QUALCOMM INCORPORATED,3965.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ERICSSON INC.,3359.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,YAHOO! INC.,3348.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.rename(columns={'Unnamed: 0': 'Name'}, inplace=True)
df.fillna(0,inplace=True)
df.head(11)

# Just checking how to access the company name in flask

In [ ]:
df['Name'][df['EMPLOYER_ACCEPTANCE_HA'] != 0]

In [ ]:
EMPLOYER_ACCEPTANCE_HA = df['Name'][df['EMPLOYER_ACCEPTANCE_HA'] != 0]
EMPLOYER_ACCEPTANCE_LA = df['Name'][df['EMPLOYER_ACCEPTANCE_LA'] != 0]
EMPLOYER_ACCEPTANCE_MA = df['Name'][df['EMPLOYER_ACCEPTANCE_MA'] != 0]
EMPLOYER_ACCEPTANCE_VHA = df['Name'][df['EMPLOYER_ACCEPTANCE_VHA'] != 0]
EMPLOYER_ACCEPTANCE_VLA = df['Name'][df['EMPLOYER_ACCEPTANCE_VLA'] != 0]

JOB_ACCEPTANCE_HA = df['Name'][df['JOB_ACCEPTANCE_HA'] != 0]
JOB_ACCEPTANCE_LA = df['Name'][df['JOB_ACCEPTANCE_LA'] != 0]
JOB_ACCEPTANCE_MA = df['Name'][df['JOB_ACCEPTANCE_MA'] != 0]
JOB_ACCEPTANCE_VHA = df['Name'][df['JOB_ACCEPTANCE_VHA'] != 0]
JOB_ACCEPTANCE_VLA = df['Name'][df['JOB_ACCEPTANCE_VLA'] != 0]

SOC_ACCEPTANCE_HA = df['Name'][df['SOC_ACCEPTANCE_HA'] != 0]
SOC_ACCEPTANCE_LA = df['Name'][df['SOC_ACCEPTANCE_LA'] != 0]
SOC_ACCEPTANCE_MA = df['Name'][df['SOC_ACCEPTANCE_MA'] != 0]
SOC_ACCEPTANCE_VHA = df['Name'][df['SOC_ACCEPTANCE_VHA'] != 0]
SOC_ACCEPTANCE_VLA = df['Name'][df['SOC_ACCEPTANCE_VLA'] != 0]

In [ ]:
print(EMPLOYER_ACCEPTANCE_HA)

In [ ]:
Employer_acceptance = df['Name'][:50]
job_acceptance = df['Name'][50:100]
soc_acceptance = df['Name'][100:150]

In [ ]:
print(Employer_acceptance[0])

In [ ]:
print(EMPLOYER_ACCEPTANCE_MA)

In [ ]:
fd = pd.read_csv('visawise.csv')

In [ ]:
fd.head()

In [ ]:
fd.columns

In [15]:
state = fd.columns[39:]
job = fd.columns[27:39]
print(state)
print()
print(job)

NameError: name 'fd' is not defined

In [ ]:
# df.loc[range(len(state)),'STATES'] = state
# df.loc[range(len(job)),'JOBS'] = job
df

In [ ]:
df.columns

In [ ]:
df['JOBS'][:12]

In [ ]:
def job_extractor(job):
    return job.split('_')[1]

df['JOBS'][:12] = df['JOBS'][:12].apply(job_extractor)
df['JOBS'][:12]

In [ ]:
df['JOBS'][11] = 'Sales and Marketing'

In [ ]:
df.to_csv('../Top_10_companies_ratio_and_jobsname.csv')

In [8]:
df = pd.read_csv('../Top_10_companies_ratio_and_jobsname.csv')

In [9]:
df['STATES'][:14]

0         CALIFORNIA
1              TEXAS
2           NEW YORK
3         NEW JERSEY
4           ILLINOIS
5      MASSACHUSETTS
6       PENNSYLVANIA
7            FLORIDA
8            GEORGIA
9         WASHINGTON
10          VIRGINIA
11          MICHIGAN
12    NORTH CAROLINA
13              OHIO
Name: STATES, dtype: object

In [10]:
df['JOBS'][:12]

0                  Artist
1                   Audit
2                Database
3               Education
4                Engineer
5                  Estate
6                 Finance
7                      It
8                 Manager
9                 Medical
10                     Pr
11    Sales and Marketing
Name: JOBS, dtype: object

In [11]:
i = [1]
p = [1,0,1]
print(i+p)

[1, 1, 0, 1]

In [13]:
print(df['JOBS'].str.contains('Pr').sum())

1

In [27]:
Employer_acceptance = df['Name'][:50]
job_acceptance = df['Name'][50:100]
soc_acceptance = df['Name'][100:150]

In [21]:
job = df['JOBS'][:12]
States = df['STATES'][:14]
print(job)
print()
print(States)

0                  Artist
1                   Audit
2                Database
3               Education
4                Engineer
5                  Estate
6                 Finance
7                      It
8                 Manager
9                 Medical
10                     Pr
11    Sales and Marketing
Name: JOBS, dtype: object

0         CALIFORNIA
1              TEXAS
2           NEW YORK
3         NEW JERSEY
4           ILLINOIS
5      MASSACHUSETTS
6       PENNSYLVANIA
7            FLORIDA
8            GEORGIA
9         WASHINGTON
10          VIRGINIA
11          MICHIGAN
12    NORTH CAROLINA
13              OHIO
Name: STATES, dtype: object

In [43]:
def binaryConverter(acceptance, ans,no):
        
        if no == 5:
            list = [0,0,0,0,0]
            j = 0
            for i in acceptance:
                print(i)
                if(i==ans):
                    if(j<10):
                        list[0]=1
                    elif(j<20):
                        list[1]=1
                    elif(j<30):
                        list[2]=1
                    elif(j<40):
                        list[3]=1
                    elif(j<50):
                        list[4]=1
                    break    
                j += 1                
            print(list)
            return list
        
        
        elif no == 12:
            list = [0,0,0,0,0,0,0,0,0,0,0,0]
        else:
            print("al")
            list = [0,0,0,0,0,0,0,0,0,0,0,0,0,0]
        j = 0
        for i in acceptance:
            print(i)
            if(i == ans):
                print(j)
                list[j] = 1
                break
            j += 1
        print(list)
        return list

binaryConverter(Employer_acceptance, 'QUALCOMM INCORPORATED',5)
# binaryConverter(job_acceptance, Jobratio, 5)
binaryConverter(soc_acceptance, 'Marketing Managers',5)

binaryConverter(job,'Engineer',12)
binaryConverter(States,'VIRGINIA',15)

GOOGLE INC.
IBM CORPORATION
QUALCOMM INCORPORATED
[1, 0, 0, 0, 0]
Medical Scientists, Except Epidemiologists
Biochemists and Biophysicists
Computer Software Engineers, Systems Software
Marketing Managers
[1, 0, 0, 0, 0]
Artist
Audit
Database
Education
Engineer
4
[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]
al
CALIFORNIA
TEXAS
NEW YORK
NEW JERSEY
ILLINOIS
MASSACHUSETTS
PENNSYLVANIA
FLORIDA
GEORGIA
WASHINGTON
VIRGINIA
10
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]

In [46]:
ratio = binaryConverter(Employer_acceptance,'QUALCOMM INCORPORATED', 5) + binaryConverter(job_acceptance, 'PROGRAMMER ANALYST', 5) + binaryConverter(soc_acceptance, 'Marketing Managers', 5)
print(ratio)

GOOGLE INC.
IBM CORPORATION
QUALCOMM INCORPORATED
[1, 0, 0, 0, 0]
RESEARCH ASSOCIATE
PROGRAMMER/ANALYST
POSTDOCTORAL FELLOW
POSTDOCTORAL RESEARCH ASSOCIATE
RESEARCH FELLOW
POSTDOCTORAL ASSOCIATE
INSTRUCTOR
POSTDOCTORAL RESEARCH FELLOW
MARKETING MANAGER
POSTDOCTORAL RESEARCHER
COMPUTER ANALYST AND SOFTWARE DEVELOPER
LEAD ASIC DESIGN VERIFICATION ENGINEER (ASIC DV ENGR)
H-1B
POSTDOCTORAL ASSOCIATE/POSTDOCTORAL FELLOW
COMPUTER PROGRAMMER, ANALYAST
LEAD JAVA SOFTWARE ENGINEER
MEDICAL RESIDENT (PGY-1)
SYSTEMS ENGINEER/NETWORK AND COMPUTER SYSTEMS ADMINISTRATOR
SOFTWARE DEVELOPMENT ENGINEER LEAD
PGY 1
SOFTWARE APPLICATION ENGINEER
POST DOCTORATE RESEARCH ASSOCIATE
SOFTWARE DESIGN ENGINEER IN TEST (SDET)
RESEARCH FELLOW / RESEARCH FELLOW
SOFTWARE DESIGN ENGINEER (SDE)
SOFTWARE ENGINEEER
SYSTEMS DEVELOPMENT SENIOR SPECIALIST
PROGRAMMER/ DEVELOPER
ENGINEER-SOFTWARE
SYSTEMS DEVELOPMENT SPECIALIST
PROGRAMMER ANALYST
[0, 0, 0, 1, 0]
Medical Scientists, Except Epidemiologists
Biochemists and Biophysicists
Computer Software Engineers, Systems Software
Marketing Managers
[1, 0, 0, 0, 0]
[1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0]

In [56]:
Year = 2016
year = [0,0,0,0,0] 
if Year == 2012:
    year[0] = 1
elif Year == 2013:
    year[1] = 1
elif Year == 2014:
    year[2] = 1
elif Year == 2015:
    year[3] = 1
elif Year == 2016:
    year[4] = 1
print(year)

[0, 0, 0, 0, 1]

In [73]:
import pickle

model = pickle.load(open('lolll.pkl', 'rb'))


x = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
print(x, len(x))
prediction = model.predict([x])
print(prediction)

EOFError: Ran out of input

import numpy as np
import pandas as pd
import pickle
from flask import Flask, request, jsonify, render_template


app = Flask(__name__)
model = pickle.load(open('artificial_neural_networks.pkl', 'rb'))

df = pd.read_csv('Top_10_companies_ratio_and_jobsname.csv')
Employer_acceptance = df['Name'][:50]
job_acceptance = df['Name'][50:100]
soc_acceptance = df['Name'][100:150]

job = df['JOBS'][:12]
States = df['STATES'][:14]


@app.route('/')
def home():
    return render_template('index.html')


@app.route('/predict')
def indexp():
    return render_template('predict.html', content=[Employer_acceptance, job_acceptance, soc_acceptance, job, States])


@app.route('/y_predict', methods=['POST'])
def y_predict():
    '''
    For rendering results on HTML GUI
    '''

    # getting the inputs
    Ft = [int(request.form['FULL_TIME_POSITION'])]
    Employer = request.form['Employer Name']
    Job_ratio = request.form['Job Name']
    code = request.form['Code Name']
    Year = int(request.form['YEAR'])
    wage = int(request.form['PREVAILING_WAGE'])
    job_domain = request.form['Job Type']
    state = request.form['state']

    # managing the inputed data

    print("ft -", Ft)

    year = [0, 0, 0, 0, 0]
    if Year == 2012:
        year[0] = 1
    elif Year == 2013:
        year[1] = 1
    elif Year == 2014:
        year[2] = 1
    elif Year == 2015:
        year[3] = 1
    elif Year == 2016:
        year[4] = 1
    print("year - ", year)

    # Wage
    # 'WAGE_CATEGORY_LOW',
    # 'WAGE_CATEGORY_MEDIUM', 'WAGE_CATEGORY_VERY HIGH',
    # 'WAGE_CATEGORY_VERY LOW'
    if wage <= 50000:
        Wage = [0, 0, 0, 1]
    elif wage > 50000 and wage <= 70000:
        Wage = [1, 0, 0, 0]
    elif wage > 70000 and wage <= 90000:
        Wage = [0, 1, 0, 0]
    elif wage > 90000 and wage <= 150000:
        Wage = [0, 0, 0, 0]
    elif wage >= 150000:
        Wage = [0, 0, 1, 0]
    print("\n Wage - ", Wage)

    def binaryConverter(acceptance, ans, no):
        if no == 5:
            list = [0, 0, 0, 0, 0]
            j = 0
            for i in acceptance:
                print(type(i))
                if(i == ans):
                    if(j < 10):
                        list[0] = 1
                    elif(j < 20):
                        list[1] = 1
                    elif(j < 30):
                        list[2] = 1
                    elif(j < 40):
                        list[3] = 1
                    elif(j < 50):
                        list[4] = 1
                    break
                j += 1
            print(list)
            return list

        elif no == 12:
            list = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        else:
            print("al")
            list = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        j = 0
        for i in acceptance:
            print(type(i))
            if(str(i) == ans):
                print(j)
                list[j] = 1
                break
            j += 1
        print(list)
        return list

    ratio = binaryConverter(Employer_acceptance, Employer, 5) + binaryConverter(
        job_acceptance, Job_ratio, 5) + binaryConverter(soc_acceptance, code, 5)
    job_array = binaryConverter(job, job_domain, 12)
    state_array = binaryConverter(States, state, 15)

    # # Predicting using the model
    # prediction = model.predict([[Present_Price, Kms_Driven2, Owner, Year, Fuel_Type_Diesel,
    #                              Fuel_Type_Petrol, Seller_Type_Individual, Transmission_Mannual]])
    # output = round(prediction[0], 2)            # rounded to 2 decimal pts

    x = [Ft+ratio+year+Wage+job_array+state_array]
    print(x, len(x))
    prediction = model.predict([x])
    print(prediction)
    if prediction == 1:
        output = "Certified"
    else:
        output = "denied"
    return render_template('predict.html', prediction_text='   {}'.format(output))


if __name__ == "__main__":
    app.run(debug=True)